body, html {
  margin: 0px;
  padding: 0px;
  font-family:  "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  background-image: url(stars.gif);
  background-attachment: fixed;
}


h1, h2, p {
  color: #fffafe;
}

.heading {
  display: flex;
  font-size: 16vmin;
  text-align: center;
  margin-bottom: 14vmin;
  font-weight: bold;
  padding: 14vmin;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2e6fc9, 0 0 30px #2e6fc9, 0 0 40px #2e6fc9, 0 0 55px #2e6fc9, 0 0 75px #0037a6;
}

.quote {
  font-size: 3vmin;
  padding: 7vmin;
  padding-left: 40vmin;
  padding-right: 40vmin;
  margin-top: 25vmin;
  margin-bottom: 30vmin;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2e6fc9, 0 0 30px #2e6fc9, 0 0 40px #2e6fc9, 0 0 55px #2e6fc9, 0 0 75px #0037a6;
}

.first {
  display: flex;
  flex-direction: row;
  padding: 6vmin;
  padding-left: 13vmin;
}

.aboutimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4vmin;
}

.abouttext {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10vmin;
  font-size: 2.5vmin;
  padding-left: 20vmin;
  padding-right: 20vmin;
}


.thelovers {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 17vmin;
  margin-bottom: 25vmin;
}

.theloverstext {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 3vmin;
  margin-right: 20vmin;
  font-size: 2.75vmin;
}



h1, h2 {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 3px #fff, 0 0 20px #2e6fc9, 0 0 30px #2e6fc9, 0 0 40px #2e6fc9, 0 0 55px #2e6fc9, 0 0 75px #0037a6;
}


@media screen and (max-width: 1024px) {
  body {
    background-repeat: no-repeat;
  }

  .heading {
    font-size: 10vmin;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 45vmin;
    padding-top: 50vmin;
  }

  .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vmin;
  }

  .aboutimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1vmin;
    margin-left: -6vmin;
  }

  .abouttext {
    font-size: 1.5em;
    margin-left: -17vmin;
    margin-right: -6vmin;
    display: flex;
    align-items: center;
  }

  h1 {
    display: flex;
    flex-direction: row;
  }

  .quote {
    font-size: 1.5em;
    text-align: center;
    display: flex;
    align-content: center;
    padding-bottom: 10vmin;
    padding: 120px;
  }

  .thelovers {
    display: flex;
    flex-direction: column;

  }
  .thelovers img {
    margin-left: -20vmin;
  }

  .theloverstext {
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }
}
